* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

#game {
    width: 802px;
    height: 602px;
    margin: 0 auto;
    border: solid 1px black;
    display: block;
    overflow: hidden;
}

.row {
    position: relative;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

.tile {
    width: 200px;
    height: 150px;
    border: solid 1px black;
    float: left;
    transition: all .2s;
}

.playable {
    background-color: #484848;
}

